[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
python-dotenv = "*"
aiohttp = "*"
boto3 = "*"
pydantic = "*"
python-json-logger = "*"
botocore = {extras = ["crt"], version = "*"}
httpx2 = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.14"
