[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
python-dotenv = "*"
aiohttp = ">=3.14.3"
boto3 = "*"
pydantic = "*"
python-json-logger = "*"
botocore = {extras = ["crt"], version = "*"}
httpx2 = ">=2.12.0"
urllib3 = ">=2.8.0"

[dev-packages]
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.14"
